.mainNav {
    display: flex;
    justify-content: space-around;
    height: 120px;
    border-bottom: 1px solid #ccc;
}

.mainNav a {
    display: block;
    align-items: center;
    cursor: pointer;
}

.mainNav img {
    height: 100%;
}

.mainNav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 60px;
}

.mainNav ul li {
    margin: 0 20px;
}

.mainNav ul li a {
    text-transform: uppercase;
    font-size: 21px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    color: #000;
    transition: .3s;
    padding: 15px 25px;
    border-bottom: 2px solid #fff;
    letter-spacing: 1px;
}

.mainNav ul li a:hover {
    background-color: #1F6DE0;
    color: white;
}

.mainNav ul li a.active {
    border-bottom-color: #1F6DE0;
    color: #1F6DE0;
    background-color: #fff;
    font-weight: 700;
}

/* TODO MENU DLA TELEFONÓW */
@media(max-width: 1440px) {
    .mainNav {
        height: 100px;
    }

    .mainNav ul li a {
        font-size: 17px;
        padding: 10px 20px;
    }

    .mainNav ul {
        margin-right: 20px;
    }

    .maiNnNav ul li {
        margin: 0 10px;
    }
}

@media(max-width: 1180px) {
    .mainNav {
        height: 85px;
    }

    .mainNav img {
        display: block;
        margin-left: 10px;
    }

    .mainNav ul {
        margin-right: 0px;
    }

    .mainNav ul li a {
        font-size: 14px;
        padding: 5px 13px;
    }
}